<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="Commen/header::header(null)"></div>
<body>
<!--<p th:text="${#dates.format(file.sfile.draftdate,'yyyy:MM:dd hh:mm:ss')}"></p>-->
<!--<p th:text="${file.sfile.mainto}"></p>-->
<div class="ui container">
    <form class="ui form segment"  method="post" id="rfile" th:action="@{/EnreRFile/uicrrfile}">
        <p>收文录入</p>

        <div class="five fields">
            <div class="field">
                <label>文号</label>
                <input placeholder="文号" name="fileno" type="text" th:readonly="readonly" th:value="${file.enrerfile.fileno}">
            </div>
            <div class="field">
                <label>文件标题</label>
                <input placeholder="文件标题" name="filecaption" type="text" th:readonly="readonly" th:value="${file.enrerfile.filecaption}">
            </div>
            <div class="field">
                <label>主题词</label>
                <input placeholder="主题词" name="keyword" type="text" readonly="readonly" th:value="${file.enrerfile.keyword}">
            </div>
            <div class="field">
                <label>附件标题</label>
                <input placeholder="附件标题" name="affixcaption" type="text" readonly="readonly" th:value="${file.enrerfile.haveaffix}">
            </div>
            <div class="field">
                <label>主送</label>
                <select name="mainto" onchange="selectGroup()" id="mainto">
                    <option  th:selected="${info.departmentNo eq info.departmentNo}"
                            th:each="info:${dept}" th:value="${info.departmentNo}" th:text="${info.departmentName}"></option>
                </select>
            </div>
        </div>
        <div class="three fields">
            <div class="field">
                <label>抄送</label>
                <select name="cc">
                    <option  th:selected="${info.departmentNo eq info.departmentNo}"
                             th:each="info:${dept}" th:value="${info.departmentName}" th:text="${info.departmentName}"></option>
                </select>
            </div>
            <div class="field">
                <label>密级</label>
                <input placeholder="密级" name="confidential" type="text" readonly="readonly" th:value="${file.enrerfile.confidential}">
            </div>
            <div class="field">
                <label>速级</label>
                <input placeholder="速级" name="express" type="text" readonly="readonly" th:value="${file.enrerfile.express}">
            </div>
            <div class="field" hidden="hidden">
                <label>状态</label>
                <input placeholder="状态" name="state" type="text" id="state" readonly="readonly">
            </div>
        </div>
        <div class="field">
            <label>文件内容</label>
            <input placeholder="文件内容" name="filecontent" type="text" readonly="readonly" th:value="${file.filecontent}" hidden="hidden">
            <div   th:utext="${file.filecontent}" style="border: solid 1px black; border-radius: 5px;background-color: white;padding: 8px"></div>
        </div>
        <div class="field">
            <label>附件内容</label>
            <div  th:utext="${file.affixcontent}" style="border: solid 1px black; border-radius: 5px;background-color: white;padding: 8px"></div>
            <input hidden="hidden" placeholder="附件内容" name="affixcontent" type="text" readonly="readonly" th:value="${file.affixcontent}">
        </div>
        <div class="five fields">
            <div class="field">
                <label>录入员</label>
                <select name="recorder" style="pointer-events: none;">
                    <option th:selected="${file.enrerfile.recorder eq man.account}"
                            th:each="man:${person}" th:value="${man.account}" th:text="${man.name}"></option>
                </select>
            </div>
            <div class="field">
                <label>审核人</label>
                <select name="auditor"  id="auditor">
<!--                    <option th:selected="${file.enrerfile.auditor eq man.account}"-->
<!--                            th:each="man:${person}" th:value="${man.account}" th:text="${man.name}"></option>-->
                </select>
            </div>
            <div class="field">
                <label>审核</label>
                <input placeholder="审核" name="auditing" type="text"  th:readonly="readonly" th:value="${file.enrerfile.auditing}">
            </div>
            <div class="field">
                <label>拟办人</label>
                <input placeholder="拟办人" name="draftsman" type="text" readonly="readonly">
<!--                <select name="draftsman" style="pointer-events: none;">-->
<!--                    <option th:selected="${file.enrerfile.draftsman eq man.account}"-->
<!--                            th:each="man:${person}" th:value="${man.account}" th:text="${man.name}"></option>-->
<!--                </select>-->
            </div>
            <div class="field">
                <label>拟办</label>
                <input placeholder="拟办" name="drafting" type="text" th:readonly="readonly" th:value="${file.enrerfile.drafting}">
            </div>
        </div>
        <div class="five fields">
            <div class="field">
                <label>批办人</label>
                <input placeholder="批办人"  name="authorizeman" type="text" readonly="readonly">
<!--                <select name="authorizeman" style="pointer-events: none;">-->
<!--                    <option th:selected="${file.enrerfile.authorizeman eq man.account}"-->
<!--                            th:each="man:${person}" th:value="${man.account}" th:text="${man.name}"></option>-->
<!--                </select>-->
            </div>
            <div class="field">
                <label>批办</label>
                <input placeholder="批办" name="authorizing" type="text" th:readonly="readonly" th:value="${file.enrerfile.authorizing}">
            </div>
            <div class="field">
                <label>承办人</label>
                <input placeholder="承办人" name="tranperson" type="text" readonly="readonly">
<!--                <select name="tranperson" style="pointer-events: none;">-->
<!--                    <option th:selected="${file.enrerfile.tranperson eq man.account}"-->
<!--                            th:each="man:${person}" th:value="${man.account}" th:text="${man.name}"></option>-->
<!--                </select>-->
            </div>
            <div class="field">
                <label>承办</label>
                <input placeholder="承办" name="transacting" type="text" th:readonly="readonly" th:value="${file.enrerfile.transacting}">
            </div>
            <div class="field">
                <label>备注</label>
                <input placeholder="备注" name="remark" type="text" th:readonly="readonly" th:value="${file.enrerfile.remark}">
            </div>
        </div>
        <input  hidden="hidden" th:value="${file.enrerfile.id}" name="id">

        <button id="complete" class="ui primary submit button"  type="submit" onclick="toComplete()">完成</button>
        <button id="save" class="ui primary submit button"  type="submit" onclick="toSave()">保存</button>
        <a id="cancel" class="ui  button" th:href="@{/EnreRFile/uicrRFileList}" >取消</a>
    </form>

</div>


<script>
    $(function (){

    })
    function toComplete(){
        $('#state').val("2")
    }
    function toSave(){
        $('#state').val("1")
    }

    function selectGroup(){
        //获取下拉列表中的部门
        var res = $("#mainto").find('option:selected').text();
        $.ajax({
            type:"POST",
            url:"/ConvenientOfficeSystem/EnreRFile/getDept",
            data:res,
            async:false,
            contentType: "application/json;charset=UTF-8",
            success:function (data) {
              console.log(data);
                var rList = data.resultData;
                var rSelect = "<option>—请选择审核人—</option>";
                var erro = "<option>该部门人员信息不在系统内</option>";
                if (rList.length>0){
                    for(var i = 0; i < rList.length; i++){
                        rSelect += ("<option value = '"+rList[i].account+"'>"+rList[i].name+"</option>");
                    }
                    $("#auditor").empty();
                    $("#auditor").append(rSelect);
                }else {
                    $("#auditor").empty();
                    $("#auditor").append(erro);
                }

            }
        })
    }

</script>
</body>
<div th:replace="Commen/footer::footer"></div>
</html>