<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <style>
        .tree li {
            list-style-type: none;
            cursor: pointer;
        }

        table tbody tr:nth-child(odd) {
            background: #F4F4F4;
        }

        table tbody td:nth-child(even) {
            color: #C00;
        }
    </style>
</head>
<!--<div th:replace="Commen/header::header(null)"></div>-->
<body>

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <div><a class="navbar-brand" style="font-size:32px;" href="#">档案管理</a></div>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li style="padding-top:8px;">
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2 col-md-2 sidebar">
            <div class="tree">
                <ul style="padding-left:0px;" class="list-group">
                    <li class="list-group-item tree-closed">
                        <a th:href="@{/}"><i class="glyphicon glyphicon-dashboard"></i> 首页</a>
                    </li>
                    <li class="list-group-item tree-closed">
                        <a th:href="@{/archive/index}"><i class="glyphicon glyphicon glyphicon-tasks"></i> 文件存档管理 </a>
                    </li>
                    <li class="list-group-item tree-closed">
                        <a th:href="@{/archive/borrowingindex}"><i class="glyphicon glyphicon-ok"></i> 借阅管理 </a>
                    </li>
                    <li class="list-group-item tree-closed">
                        <span><i class="glyphicon glyphicon-th-large"></i> 我的借阅 </span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="glyphicon glyphicon-th"></i> 数据列表</h3>
                </div>
                <div class="panel-body">
                    <button type="button" class="btn btn-primary" style="float:right;"
                            onclick="window.location.href='addBorrowing'"><i class="glyphicon glyphicon-plus"></i> 新增
                    </button>
                    <br>
                    <hr style="clear:both;">
                    <div class="table-responsive">
                        <table class="table  table-bordered">
                            <thead>
                            <tr>
                                <th width="30">#</th>
                                <th>文号</th>
                                <th>归还日期</th>
                                <th width="100">操作</th>
                            </tr>
                            </thead>
                            <tbody id="archiveData">

                            </tbody>
                            <tfoot>
                            <tr>
                                <td colspan="4" align="center">
                                    <ul class="pagination">
                                    </ul>
                                </td>
                            </tr>

                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/js/jquery-2.1.1.min.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/js/docs.min.js}"></script>
<script th:src="@{/layer/layer.js}"></script>

<script type="text/javascript">
    $(function () {

        queryPage(1);
    })

    function queryPage(page) {
        var loadingIndex = null;

        var jsonData = {"page": page};

        $.ajax({
            type: 'GET',
            url: '/ConvenientOfficeSystem/archive/myborrowing',
            data: jsonData,
            before: function () {
                loadingIndex = layer.msg('处理中', {icon: 16});
            },
            success: function (data) {
                layer.close(loadingIndex);
                if (data.success) {
                    var tableContent = "";
                    var pageContent = "";

                    var borrowingPage = data.page;
                    var borrowings = borrowingPage.data;

                    $.each(borrowings, function (i, borrowing) {
                        tableContent += '<tr>';
                        tableContent += '<td>' + (i + 1) + '</td>';
                        tableContent += '<td>' + borrowing.ileno + '</td>';
                        tableContent += '<td>' + borrowing.returntime + '</td>';
                        tableContent += '<td>';
                        tableContent += '<button type="button" onclick="toGetFile(' + borrowing.borrowingno + ',\'' + borrowing.ilno + '\')" class="btn btn-success btn-xs"><i class=" glyphicon glyphicon-check"></i></button>';
                        tableContent += '<button type="button" onclick="toRestore(' + borrowing.borrowingno + ')" class="btn btn-primary btn-xs"><i class=" glyphicon glyphicon-pencil"></i></button>';
                        tableContent += '</td>';
                        tableContent += '</tr>';
                    })

                    if (page > 1) {
                        pageContent += '<li><a href="#" onclick="queryPage(' + (page - 1) + ')">上一页</a></li>';
                    }

                    for (var i = 1; i <= borrowingPage.totalPage; i++) {
                        if (page == i) {
                            pageContent += '<li class="active"><a href="#">' + i + '</a></li>';
                        } else {
                            pageContent += '<li><a href="#" onclick="queryPage(' + i + ')">' + i + '</a></li>';
                        }
                    }

                    if (page < borrowingPage.totalPage) {
                        pageContent += '<li><a href="#" onclick="queryPage(' + (page + 1) + ')">下一页</a></li>';
                    }

                    $('#archiveData').html(tableContent);
                    $('.pagination').html(pageContent);
                }
            }
        })
    }


    function toGetFile(borrowingno) {
        location.href = "/ConvenientOfficeSystem/archive/filearchive/" + borrowingno;

        layer.msg("查看成功", {time:2000, icon:6}, function(){
        });
    }

    function toRestore(borrowingno) {
        var loadingIndex = null;
        layer.confirm('确定要归还吗?',
            {icon: 3, title: '系统提示'},
            function () {
                $.ajax({
                    type: 'POST',
                    url: '/ConvenientOfficeSystem/archive/restore',
                    data: {
                        'borrowingno': borrowingno
                    },
                    before: function () {
                        loadingIndex = layer.msg('处理中', {icon: 16});
                    },
                    success: function (data) {
                        if (data.success) {
                            layer.msg("归还成功", {time: 2000, icon: 6}, function () {
                            });
                            location.href = "/ConvenientOfficeSystem/archive/borrow";
                        } else {
                            layer.msg("归还失败", {time: 2000, icon: 5, shift: 6}, function () {

                            })
                        }
                    }
                });
            });
    }
</script>
</body>
</html>
