<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>SFileInfo</title>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="icon" type="image/x-icon" th:href="@{/favicon.ico}" href="../static/favicon.ico"/>
    <link rel="stylesheet" th:href="@{/css/me.css}">
    <link rel="stylesheet" th:href="@{/css/semantic.min.css}">
    <link rel="stylesheet" th:href="@{/css/me.css}">
    <link rel='stylesheet prefetch'
          href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/components/icon.min.css'>
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!-- 可选的Bootstrap主题文件（一般不使用） -->
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap-theme.min.css"></script>
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <!--layui.css-->
    <link rel="stylesheet" type="text/css" href="https://www.layuicdn.com/layui/css/layui.css" media="all"/>
    <script src="https://cdn.bootcdn.net/ajax/libs/tinymce/5.5.1/tinymce.min.js"></script>
    <script>
        function submitSFile(m) {
            if (m == 1) {
                document.getElementById("iptMember").value = parseInt(document.getElementById("iptMember").value) + 1;
            }
            ;
            if (m == 0) {
                document.getElementById("iptMember").value = parseInt(document.getElementById("iptMember").value);
            }
            ;
            let url1 = '/ConvenientOfficeSystem/sfile/addpage/';
            console.log(url1);
            let url2 = '/ConvenientOfficeSystem/sfile/findAll/' + document.getElementById("account").value + '/' + document.getElementById("target").value;
            console.log(url2);
            var content1=tinymce.get('filecontent1').getContent();
            var content2=tinymce.get('affixcontent1').getContent();
            $('#filecontent').val(content1);
            $('#affixcontent').val(content2);
            console.log(content1);
            console.log(content2);
            $.ajax({
                type: 'POST',
                datatype: 'text',
                url: url1,
                data: $("#SFileForm").serializeArray(),
                success: function (data) {
                    console.log(data);
                    // if ("success" == data) {
                    location.href = url2;
                    // }
                },
                error: function (data) {
                    alert("error:" + data.responseText);
                }
            });
        };

    </script>

</head>
<body>
<div th:replace="Commen/header::header(null)"></div>
<h1>发文新建</h1>
<main>
    <div style="text-align:center">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                <input th:id="account" th:value="${account}" hidden>
                <input th:id="target" th:value="${target}" hidden>
                <!--        <form method="post" th:action="@{/sfile/addpage/{account}/{target}(account=${account},target=1)}">-->
                <form th:id="SFileForm">
                    <div class="form-group col-md-6 col-sm-6">
                        <label for="filecaption" class="col-sm-4 control-label">文件标题</label>
                        <div class="col-sm-8">
                            <input name="filecaption" type="text" value="" class="form-control"
                                   id="filecaption" placeholder="文件标题" th:required="ture" maxlength="40">
                        </div>
                    </div>
                    <div class="form-group col-md-6 col-sm-6">
                        <label for="keyword" class="col-sm-4 control-label">主题词</label>
                        <div class="col-sm-8">
                            <input name="keyword" type="text" value="" class="form-control"
                                   id="keyword" placeholder="主题词" maxlength="60">
                        </div>
                    </div>
                    <div class="form-group col-md-6 col-sm-6">
                        <label for="affixcaption" class="col-sm-4 control-label">附件标题</label>
                        <div class="col-sm-8">
                            <input name="affixcaption" type="text" value="" class="form-control"
                                   id="affixcaption" placeholder="附件标题" maxlength="60">
                        </div>
                    </div>
                    <div class="form-group col-md-6 col-sm-6">
                        <label for="copies" class="col-sm-4 control-label">份数</label>
                        <div class="col-sm-8">
                            <input name="copies" type="text" value="" class="form-control"
                                   id="copies" placeholder="份数" th:required="ture">
                        </div>
                    </div>
                    <div class="form-group col-md-6 col-sm-6">
                        <label class="col-sm-4 control-label">主送</label>
                        <div class="col-sm-8">
                            <select class="form-control" name="mainto">
                                <option th:each="user:${User}" th:text="${user.getName()}"
                                        th:value="${user.getAccount()}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-md-6 col-sm-6">
                        <label class="col-sm-4 control-label">cc</label>
                        <div class="col-sm-8">
                            <select class="form-control" name="cc">
                                <option th:each="user:${User}" th:text="${user.getName()}"
                                        th:value="${user.getAccount()}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-md-6 col-sm-6">
                        <label class="col-sm-4 control-label">密级</label>
                        <div class="col-sm-8">
                            <select class="form-control" name="confidential">
                                <option value="绝对机密">绝对机密</option>
                                <option value="极机密">极机密</option>
                                <option value="机密">机密</option>
                                <option value="密">密</option>
                                <option value="普通">普通</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-md-6 col-sm-6">
                        <label class="col-sm-4 control-label">速级</label>
                        <div class="col-sm-8">
                            <select class="form-control" name="express">
                                <option value="限时送">限时送</option>
                                <option value="特快送">特快送</option>
                                <option value="快件">快件</option>
                                <option value="普通">普通</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <label for="filecontent" class="col-sm-2 control-label">正文</label>
                        <div class="col-sm-10">
                        <textarea class="form-control" rows="3"  id="filecontent1"
                                  th:required="ture" maxlength="5000"></textarea>
                        </div>
                    </div>
                    <input name="filecontent" id="filecontent" hidden>
                    <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <label for="affixcontent" class="col-sm-2 control-label">附件内容</label>
                        <div class="col-sm-10">
                        <textarea class="form-control" rows="3"  id="affixcontent1"
                                  maxlength="5000"></textarea>
                        </div>
                    </div>
                    <input name="affixcontent" id="affixcontent" hidden>
                    <input th:value="${account}" th:name="draftsman" hidden>
                    <input th:value="${draftno}" th:name="draftno" hidden>
                    <input th:value="${fileno}" th:name="fileno" hidden>
                    <input id="iptMember" th:name="send" th:value="${send}" hidden>

                    <div class="form-group col-md-6 col-sm-6 ">
                        <label class="col-sm-4 control-label">审核员</label>
                        <div class="col-sm-8">
                            <select class="form-control" name="auditor">
                                <option th:each="auditor:${auditors}" th:text="${auditor.getName()}"
                                        th:value="${auditor.getAccount()}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-md-6 col-sm-6">
                        <label for="auditing" class="col-sm-4 control-label">审核意见</label>
                        <div class="col-sm-8">
                            <input name="auditing" type="auditing" value="" class="form-control"
                                   id="auditing" placeholder="审核" disabled>
                        </div>
                    </div>
                    <div class="form-group col-md-6 col-sm-6 ">
                        <label class="col-sm-4 control-label">复核员</label>
                        <div class="col-sm-8">
                            <select class="form-control" name="checkingman">
                                <option th:each="checkingman:${checkingmans}" th:text="${checkingman.getName()}"
                                        th:value="${checkingman.getAccount()}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-md-6 col-sm-6">
                        <label for="checking" class="col-sm-4 control-label">复核意见</label>
                        <div class="col-sm-8">
                            <input name="checking" type="text" value="" class="form-control"
                                   id="checking" placeholder="复核" disabled>
                        </div>
                    </div>
                    <div class="form-group col-md-6 col-sm-6 ">
                        <label class="col-sm-4 control-label">签发员</label>
                        <div class="col-sm-8">
                            <select class="form-control" name="signator">
                                <option th:each="signator:${signators}" th:text="${signator.getName()}"
                                        th:value="${signator.getAccount()}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-md-6 col-sm-6">
                        <label for="signing" class="col-sm-4 control-label">签发意见</label>
                        <div class="col-sm-8">
                            <input name="signing" type="text" value="" class="form-control"
                                   id="signing" placeholder="签发" disabled>
                        </div>
                    </div>
                    <div class="form-group col-md-6 col-sm-6 ">
                        <label class="col-sm-4 control-label">分发员</label>
                        <div class="col-sm-8">
                            <select class="form-control" name="distributor">
                                <option th:each="distributor:${distributors}" th:text="${distributor.getName()}"
                                        th:value="${distributor.getAccount()}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4">
                            <a th:id="submit" type="button" name="submit" class="btn btn-success pull-right tb"
                               onclick="submitSFile(1)">提交
                            </a>
                            <a th:id="save" type="button" name="submit" class="btn btn-success pull-right tb"
                               onclick="submitSFile(0)">保存
                            </a>
                            <a class="btn btn-small pull-right btn-danger" th:href="@{/sfile/toIndex}">退出</a>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
</main>
<script>
    tinymce.init({
        selector: '#filecontent1',
        language: 'zh_CN',
        plugins: 'print preview searchreplace autolink directionality visualchars fullscreen image link media template code table charmap hr pagebreak nonbreaking anchor insertdatetime advlist lists wordcount imagetools textpattern paste emoticons bdmap indent2em lineheight autoresize',
        toolbar: 'code forecolor backcolor bold italic underline strikethrough link anchor | alignleft aligncenter alignright indent2em lineheight | \
                    bullist numlist | blockquote subscript superscript removeformat | \
                    table image media bdmap emoticons charmap hr pagebreak insertdatetime | fullscreen ',
        menubar: false,
        fontsize_formats: '12px 14px 16px 18px 24px 36px 48px 56px 72px',
        autosave_ask_before_unload: false,
        toolbar_drawer: false,
        icons: 'ax-color',
    });
    tinymce.init({
        selector: '#affixcontent1',
        language: 'zh_CN',
        plugins: 'print preview searchreplace autolink directionality visualchars fullscreen image link media template code table charmap hr pagebreak nonbreaking anchor insertdatetime advlist lists wordcount imagetools textpattern paste emoticons bdmap indent2em lineheight autoresize',
        toolbar: 'code forecolor backcolor bold italic underline strikethrough link anchor | alignleft aligncenter alignright indent2em lineheight | \
                    bullist numlist | blockquote subscript superscript removeformat | \
                    table image media bdmap emoticons charmap hr pagebreak insertdatetime | fullscreen ',
        menubar: false,
        fontsize_formats: '12px 14px 16px 18px 24px 36px 48px 56px 72px',
        autosave_ask_before_unload: false,
        toolbar_drawer: false,
        icons: 'ax-color',
    });
</script>


</body>

</html>